* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #000;
}

.bg {
  position: relative;
  margin: auto;
  width: fit-content;
  overflow: hidden;

}

.background {
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
}

.music {
  position: absolute;
  top: 3.53%;
  left: 85.71%;
  width: 9.69%;
  height: 4.47%;
}

.music img {
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 6%;
  left: 25%;
  width: 50%;
  height: 5%;
}

.title img {
  width: 100%;
  height: 100%;
}

.text1 {
  position: absolute;
  top: 16%;
  left: 20%;
  width: 60%;
  height: 2.5%;
}

.text1 img {
  width: 100%;
  height: 100%;
}

.text2 {
  position: absolute;
  top: 82%;
  left: 40%;
  width: 30%;
  height: 2.5%;
}

.text2 img {
  width: 100%;
  height: 100%;
}

.hehua1 {
  position: absolute;
  top: 3.86%;
  left: 0;
  width: 72.89%;
  height: 58.92%;
  opacity: 1;
}

.hehua1 img {
  width: 100%;
  height: 100%;
}

.hehua2 {
  position: absolute;
  top: 36.40%;
  right: 0;
  width: 61.69%;
  height: 58.92%;
  opacity: 1;
}

.hehua2 img {
  width: 100%;
  height: 100%;
}

.god {
  position: absolute;
  top: 21%;
  left: 0%;
  width: 100%;
  height: 40%;
}

.god img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.goods1 {
  position: absolute;
  top: 1%;
  right: 67%;
  width: 20%;
  height: 24%;
}

.goods1 img {
  width: 100%;
  height: 100%;
}

.goods2 {
  position: absolute;
  top: -6%;
  right: 36%;
  width: 25%;
  height: 24%;
}

.goods2 img {
  width: 100%;
  height: 100%;
}

.goods3 {
  position: absolute;
  top: 1%;
  left: 68%;
  width: 20%;
  height: 24%;
}

.goods3 img {
  width: 100%;
  height: 100%;
}

.paw {
  position: absolute;
  bottom: 0%;
  right: 8%;
  width: 26.5%;
  height: 13.6%;
  display: flex;
}

.file1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}

.file1 img {
  width: 100%;
  height: 100%;
}

.file2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}

.file2 img {
  width: 100%;
  height: 100%;
}

.file3 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}

.file3 img {
  width: 100%;
  height: 100%;
}

.buy {
  position: absolute;
  bottom: 12%;
  right: 8%;
  width: 30%;
  height: 6%;
  display: flex;
}

.close {
  position: absolute;
  top: 3.53%;
  left: 85.71%;
  width: 5%;
  height: 2.5%;
}

.close img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.circledesk {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 600px;
  height: 600px;
}

.circledesk img {
  width: 100%;
  height: 100%;
}